@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
  background: rgb(204, 204, 204);
  font-family: "Indie Flower", cursive;
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}

.sheet {
  width: 12.6cm;
  height: 19cm;
  display: block;
  padding: 1cm 1cm 1cm 1.2cm;
}

.sheetA4H {
  width: 12.6cm;
  height: 19cm;
  display: block;
  outline: 1px green solid;
  padding: 1cm 1cm 1cm 1.2cm;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.verticalMes{
  height: 100%;
  width: 25%;
  outline: 1px solid purple;
}

.diasMes{
  height: 25%;
  width: 100%;
  outline: 1px solid yellow;
}

.verticalMesA5{
  height: 100%;
  width: 100%;
  outline: 1px solid purple;
}

.diasMesA5{
  height: 25%;
  width: 50%;
  outline: 1px solid yellow;
}

.polcadot {
  background-image: radial-gradient(darkgrey 5%, transparent 0),
    radial-gradient(darkgrey 5%, transparent 0);
  background-size: 25px 25px;
  background-position: 0 0, 12px 13px;
  width: 12.6cm;
  height: 19cm;
  display: block;

}

.title {
  height: 18cm;
}

h1 {
  height: 0.5cm;
  margin: 0 auto 0.5cm auto;
  text-align: right;
  text-decoration: underline;
}

.container {
  width: 12.6cm;
  height: 19cm;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.item {
  width: 6cm;
  background: transparent;
  margin: 0 0 1px 0;
  flex: auto;
  text-align: left;
  height: 1.16cm;
  min-height: 1.16cm;
  max-height: 1.16cm;
  
}

page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;
}






@media print {
  body,
  page {
    margin: 0;
    box-shadow: 0;
  }
}
