@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
  background: rgb(204, 204, 204);
  font-family: "Indie Flower", cursive;
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}

.sheet {
  width: 12.6cm;
  height: 19cm;
  display: block;
  padding: 0.7cm 1cm 0.7cm 1.2cm;
}

.sheetA4H {
  width: 12.6cm;
  height: 19cm;
  display: block;
  padding: 1cm 1cm 1cm 1.2cm;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.verticalMes {
  height: 100%;
  width: 25%;

  
}

.diasMes {
  height: 25%;
  width: 100%;
}

.dia{
  border-radius: 25%;
  margin: 3px;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  padding: 6px;
  height: 16px;
  
}

.dia *{
  padding: 0 auto 0 auto;
}

.verticalMesA5 {
  height: 100%;
  width: 100%;
}

.diasMesA5 {
  height: 33%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
  ". . . . . . ."
  ". . . . . . ."
  ". . . . . . ."
  ". . . . . . ."
  ". . . . . . ."; 
  text-align: center;
  vertical-align: middle;
  padding: 0 auto 0 auto;
  background: white;
  border: 3px solid black;
  border-radius: 10px;
  font-weight: bold;
}

.polcadot {
  background-image: radial-gradient(darkgrey 5%, transparent 0),
    radial-gradient(darkgrey 5%, transparent 0);
  background-size: 25px 25px;
  background-position: 0 0, 12px 13px;
  width: 12.6cm;
  height: 19cm;
  display: block;
}

.title {
  height: 18cm;
}

h1 {
  height: 0.5cm;
  margin: 0 auto 0.5cm auto;
  text-align: right;
  text-decoration: underline;
}

.container {
  width: 12.6cm;
  height: 19cm;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.item {
  width: 6.1cm;
  background: transparent;
  margin: 0 1px 1px 0;
  flex: auto;
  text-align: left;
  height: 1.13cm;
  min-height: 1.13cm;
  max-height: 1.13cm;
  border-bottom: 1px dotted lightgray;
}

.item * {
  padding: 5px 5px;
}


.weekend {
  background-color: lightgray;
  border-radius: 10px;
}

page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;
}

@media print {
  body,
  page {
    margin: 0;
    box-shadow: 0;
  }
}
